/* FUENTES */
/* Cambiar por fuentes del proyecto */
/* @font-face { */
/*     font-family: 'Nombre Que se le Dará a la fuente'; */
/*     font-weight: 400; */
/*     font-style: italic; */
/*     src: local(''), */
/*         url('') format('woff2'), */
/*         url('') format('woff'), */
/*         url('') format('ttf'); */
/* } */
:root {
    --text: hsl(60, 9%, 15%); /* Cambiar este valor segun proyecto */
    --background: hsl(53, 40%, 96%); /* Cambiar este valor segun proyecto */
    --primary: hsl(358, 78%, 37%); /* Cambiar este valor segun proyecto */
    --secondary: hsl(60, 87%, 51%); /* Cambiar este valor segun proyecto */
    --accent: hsl(43, 100%, 50%); /* Cambiar este valor segun proyecto */

    --font-parragraph: 'fuente textos', monospace; /* Cambiar este valor segun proyecto */
    --font-headings: 'fuente párrafo', sans-serif; /* Cambiar este valor segun proyecto */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-parragraph);
    background-color: var(--background);
    color: var(--text);
}

ul {
    list-style: none;
    padding: 0;
}
